#root {
  --box-white: #f6f6f6;
  --option-white: #ffffff;
  --bg-white: #e5e5e5;
}
html {
  height: 100vh;
  margin: 0;
  padding: 0;
}
body > #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* * {
  border: 0.5px red solid;
} */

.button {
  background-color: var(--option-white);
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.island {
  background-color: var(--box-white);
}

.app-wrapper {
  margin: 0;
  height: 100%;
}

.app {
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 10vw;
  padding-right: 10vw;
  background-color: var(--bg-white);
  margin: 0;
  height: 70%;
  /* padding-left: 5vw;
  padding-right: 5vw; */
}

.height-fill {
  height: 100vh;
}

/* .control-box-container {
  align-items: center;
  height: 80vh;
  margin-top: auto;
  margin-bottom: auto;
} */

.control-box {
  background-color: var(--box-white);
}

.shadow-box {
  display: block;
  /* border: 1px rgb(220, 220, 220) ridge; */
  border-radius: 8px;
  box-shadow: 5px 5px 10px 1px rgb(220, 220, 220);
}

.hidden {
  visibility: hidden;
}

.footer {
  margin-top: auto;
}

.voice-navigation-container {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 1rem;
  z-index: 1000;
}
.fab-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px; /* Space between buttons */
  margin-top: 24px;
  margin-bottom: 16px;
}

.mui-fab {
  background-color: var(--option-white);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  /* Material UI Elevation Shadows */
  box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),
  0px 6px 10px 0px rgba(0,0,0,0.14),
  0px 1px 18px 0px rgba(0,0,0,0.12);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
  transform 100ms ease;
}

.mui-fab:hover {
  /* Slightly darken on hover */
  filter: brightness(0.9);
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),
  0px 4px 5px 0px rgba(0,0,0,0.14),
  0px 1px 10px 0px rgba(0,0,0,0.12);
}

.mui-fab:active {
  transform: scale(0.95);
  box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2),
  0px 8px 10px 1px rgba(0,0,0,0.14),
  0px 3px 14px 2px rgba(0,0,0,0.12);
}

/* Color Variants */
.mui-fab.primary {
  background-color: var(--box-white);
}

.mui-fab.secondary {
  background-color: var(--box-white);
}

.mui-fab:disabled {
  color: #9e9e9e;
  box-shadow: none;
  cursor: default;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
